<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AplikasiIsg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AplikasiIsg.Properties.Settings>
            <setting name="AplikasiIsg_inkaber_inkaberWS" serializeAs="String">
                <value>http://services.e-inkaber.com/index.php</value>
            </setting>
            <setting name="AplikasiIsg_wsUoi_inkaberWS" serializeAs="String">
                <value>https://uoi.e-inkaber.com:443/ws/index.php</value>
            </setting>
        </AplikasiIsg.Properties.Settings>
    </applicationSettings>
</configuration>